<h2>About</h2>

<p> My name is Yushadha! </p>
<p> This is one my first rails projects! </p>
<p> Please enjoy responsibly. </p>

<img src="https://lh6.googleusercontent.com/-ivh32ICSZ_c/AAAAAAAAAAI/AAAAAAAAASU/Z9PmTXiwlv0/photo.jpg"/>